.profile__avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

@media screen and (max-width:680px){
  .profile__avatar{
    width: 35vw;
    height: 35vw;
  }
}