.profile__name-edit {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
}

@media screen and (max-width:680px){
  .profile__name-edit{
    gap: 10px;
    align-items: center;
  }
}